!!!
/ START:head
%html
  %head
    / START_HIGHLIGHT
    %title Pragprog Books Online Store
    / END_HIGHLIGHT
    / <label id="code.slt"/>
    = stylesheet_link_tag    "application", media: "all", |
      "data-turbolinks-track" => true                     |
    = javascript_include_tag "application", "data-turbolinks-track" => true
    / <label id="code.jlt"/>
    = csrf_meta_tags
    / <label id="code.csrf"/>
  / END:head
  %body{:class => controller.controller_name}
    / START_HIGHLIGHT
    #banner
      = form_tag store_path, class: 'locale' do
        = select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()'                   |
        = submit_tag 'submit'
        = javascript_tag "$('.locale input').hide()"
      = link_to image_tag("logo.png"), store_path
      = @page_title || t('.title')
      / <label id="code.depot.e.title"/>
    #columns
      #side
        #cart
        - if @cart
          = hidden_div_if(@cart.line_items.empty?, id: 'cart') do
            = render @cart
        %ul
          %li
            = link_to t('.home'), store_path
          %li
            = link_to t('.questions'), store_path
          %li
            = link_to t('.news'), store_path
          %li
            = link_to t('.contact'), store_path
          / START_HIGHLIGHT
          - if session[:user_id]
            %ul
              %li= link_to 'Orders',   orders_path
              %li= link_to 'Products', products_path
              %li= link_to 'Users',    users_path
            = button_to 'Logout', logout_path, method: :delete
          / END_HIGHLIGHT
      #main
        / END_HIGHLIGHT
        = yield
        / <label id="code.depot.e.include"/>
        / START_HIGHLIGHT
    / END_HIGHLIGHT