!!!
/ START:head
%html
  %head
    / START_HIGHLIGHT
    %title Pragprog Books Online Store
    / END_HIGHLIGHT
    / <label id="code.slt"/>
    = stylesheet_link_tag    "application", media: "all", |
      "data-turbolinks-track" => true                     |
    = javascript_include_tag "application", "data-turbolinks-track" => true
    / <label id="code.jlt"/>
    = csrf_meta_tags
    / <label id="code.csrf"/>
  / END:head
  %body{:class => controller.controller_name}
    / START_HIGHLIGHT
    #banner
      = link_to image_tag("logo.png"), store_path
      = @page_title || "Pragmatic Bookshelf"
      / <label id="code.depot.e.title"/>
    #columns
      #side
        #cart
        - if @cart
          = hidden_div_if(@cart.line_items.empty?, id: 'cart') do
            = render @cart
        %ul
          %li
            = link_to 'Home', store_path
          %li
            %a{:href => "http://www..../faq"} Questions
          %li
            %a{:href => "http://www..../news"} News
          %li
            %a{:href => "http://www..../contact"} Contact
          / START_HIGHLIGHT
          - if session[:user_id]
            %ul
              %li= link_to 'Orders',   orders_path
              %li= link_to 'Products', products_path
              %li= link_to 'Users',    users_path
            = button_to 'Logout', logout_path, method: :delete
          / END_HIGHLIGHT
      #main
        / END_HIGHLIGHT
        = yield
        / <label id="code.depot.e.include"/>
        / START_HIGHLIGHT
    / END_HIGHLIGHT